@import "tailwindcss";
.btn {
  @apply text-white bg-gradient-to-br from-[#D97706] via-[#F59E0B] to-[#FBBF24] hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-[#D97706] dark:focus:ring-[#B45309] font-medium rounded-lg text-base px-6 py-2.5 text-center shadow-md transition;
}
